//global styles
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.noPadding {
  padding: 0;
}

.noMargin {
  margin: 0;
}

.flexDisplay {
  display: flex;
  height: 100%;
}

.pageContent {
  composes: noPadding;
  composes: noMargin;
  height: 100%;
}

.navBar {
  overflow: hidden;
  background: #e2e2e2;
}

.sidebar {
  width: 200px;
  background: #c2c2c2;
}

.mainContent {
  flex: 1;
  background: #d2d2d2;
}